// Place all the styles related to the phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * Style tweaks
 * --------------------------------------------------
 */
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
.jumbotron {
  background: url(../assets/bg-goodssolutions.jpg) no-repeat 50% 50%;
  background-size: cover;
  text-shadow: 0 1px 3px rgba(255,255,255,.8);
  color: rgba(0,1,0,.9);
}
.preview-img {
  height: 200px;
  margin-bottom: 16px;
  position: relative;
}
.preview-img .label {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  display: block;
}
.preview-img img {
  max-height: 200px;
}
h2 {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item {
  height: 500px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
.phone-images {
  text-align: center;
}
.phone-images img {
  max-width: 100%;
}

.phone-thumbs li {
  float: left;
  width: 30%;
  padding:16px;
}
.phone-thumbs li img {
  max-width: 100%;
}
.specs li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.phone-box{
  position: relative;
  padding: 20px;
  border : 1px solid white;
  text-align: center;
}
.phone-box:hover {
  border : 1px solid grey;
  border-radius: 4px;
}
.fa-pencil{
  position: absolute;
  visibility: hidden;
  color: grey;
  top: 8px;
  left: 12px;
}
.fa-times{
  position: absolute;
  visibility: hidden;
  color: grey;
  top: 8px;
  left: 205px;

}
.phone-box:hover .fa{
  visibility: visible;
}
textarea {
    resize: none;
}
.btn{
  margin-bottom: 20px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  position: absolute;
  top: 6px;
  left: 18px;     
}
.dropdown{
  border-radius: 4px;
  padding-left: 2px; 
}
option:not(:checked) { 
  background-color: white;
  color: black; 
}
.fa-shopping-cart{
  color: grey; 
}
.shopping-cart{
  float: right;
  margin-top:10px;
}
.count{
  font-size: 15px;
}